.bookshelf {
  &__header {
    margin-bottom: 20px;
  }

  &__options {
    margin-bottom: 20px;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;

    &--search{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      grid-auto-rows: auto;
      gap: 10px;

      &::after {
        content: "";
        grid-column: span 4;
        visibility: hidden;
      }
    }
  }
}
