.book {
  &__header {
    &__button {
      padding-left: 10px;
    }
  }

  &__body {
    margin-top: 20px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    &__description {
      &__element {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        &__text {
          word-break: break-all;
        }
      }
    }
  }
}
