<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card" style="width: 400px;">
    <div class="card__header">
      <h1>Registrarse</h1>
      <pichincha-divider></pichincha-divider>
    </div>
    <div class="card__body">
      <pichincha-alerts [type]="alert.type" [description]="alert.description" [show]="alert.show"
        [autoClose]="alert.autoClose" [closeTime]="alert.closeTime" (clickCloseEvent)="handleClickCloseEvent()">
      </pichincha-alerts>
      <form [formGroup]="registerForm">
        <div class="form__group">
          <pichincha-input state="{{states.name.state}}" label="Nombre del usuario" formControlName="name"
            placeholder="Ej. makoto" error-helper="Nombre de usuario es requerido"
            is-optional="false"></pichincha-input>
        </div>
        <div class="form__group">
          <pichincha-input state="{{states.email.state}}" label="Correo electronico" formControlName="email"
            placeholder="Ej. name@example.com" type="email" is-optional="false"></pichincha-input>
          <pichincha-input-message *ngIf="states.email.required" info-message="" error-message="Correo es requerido"
            state="error" single-line="false"></pichincha-input-message>
          <pichincha-input-message *ngIf="states.email.email" info-message=""
            error-message="Formato del correo no válido" state="error" single-line="false"></pichincha-input-message>
        </div>
        <div class="form__group">
          <pichincha-input state="{{states.password.state}}" label="Contraseña" formControlName="password"
            type="password" is-optional="false" placeholder="Ej. @Ab1Abc@"></pichincha-input>
          <pichincha-input-message *ngIf="states.password.required" info-message=""
            error-message="Contraseña es requerido" state="error" single-line="false"></pichincha-input-message>
          <pichincha-input-message *ngIf="states.password.password_invalid_format" info-message=""
            error-message="Contraseña no cumple con los requisitos" state="error"
            single-line="false"></pichincha-input-message>
        </div>
        <div class="form__group">
          <pichincha-input state="{{states.rePassword.state}}" label="Confirmar contraseña" formControlName="rePassword"
            type="password" is-optional="false" placeholder="Ej. @Ab1Abc@"></pichincha-input>
          <pichincha-input-message *ngIf="states.rePassword.required" info-message=""
            error-message="Contraseña es requerido" state="error" single-line="false"></pichincha-input-message>
          <pichincha-input-message *ngIf="states.rePassword.compare" info-message=""
            error-message="Contraseña no coinciden" state="error" single-line="false"></pichincha-input-message>
        </div>
        <h2>Categorias</h2>
        <div class="form__group" *ngFor="let item of categorySelected; let i=index; trackBy: trackByFn">
          <pichincha-check-box [checked]="item.value" idElement="categoryInterest-{{i}}" value="{{i+1}}"
            (clickCheck)="getCategoryInterest($event,i)" text="{{item.label}}"></pichincha-check-box>
        </div>
      </form>
    </div>
    <div class="card__footer">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <a routerLink="/auth/login">Iniciar sesión</a>
        </div>
        <div>
          <pichincha-button (clickEvent)="onSubmit()" size="large" label="Registrar"></pichincha-button>
        </div>
      </div>
    </div>
  </div>
</div>
