.header {
  padding: 1.25rem 1.25rem;

  &__logo {
    font-weight: bold;

    &--big {
      font-size: 24px;
    }
  }

  &__info {
    font-weight: bold;

    &--big {
      font-size: 24px;
    }
  }

  &--gray {
    background: var(--bp-primary-blue50);
  }
}

.main {
  margin-top: 2.5rem;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  min-width: 300px;
}


@media (main-width: 576px) {
  .main {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .main {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .main {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .main {
    width: 1140px;
  }
}
