/* You can add global styles to this file, and also import other style files */
/// app.component.scss
@import url(./assets/css/bootstrap-grid.min.css);
@import url(@pichincha/ds-core/dist/ds-core/ds-core.css);

* {
  margin: 0px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;

  &__header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;

    &--dark {
      background: black;
    }
  }

  &__body {
    padding: 0px 12px 12px 12px;
  }

  &__footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(0, 0, 0, .125);
  }
}

.form {
  &__group {
    margin-top: 0.75rem;
  }
}

.flex {
  &__display {
    display: flex;
  }

  &__justify-content-space-between {
    justify-content: space-between;
  }
}
