.covers {
  display: flex;
  justify-content: center;


  &--border_shadow{
    box-shadow: 0px 0px 5px 1px rgba(75, 75, 75, 0.25);
  }

  &__image {
    width: 100%;
  }

  &--border_shadow:hover {
    opacity: 0.5;
  }
}
